In [1]:
import pandas as pd
df = pd.read_csv("D:\Excel\Pandas Datasets\weather1.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Sunny
1  2/1/2017           25          8    Fog
2  3/1/2017           20         10   Rain

In [8]:
df = pd.read_excel("D:\Excel\Pandas Datasets\weather.xlsx")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6  Sunny
1 2017-02-01           25          8    Fog
2 2017-03-01           20         10   Rain

In [10]:
weather = {
    'day': ['1/1/2017', '2/1/2017', '3/1/2017'],
    'temperature': [32,25,20],
    'windspeed': [6,8,15],
    'event': ['Sunny', 'Foggy', 'Rainy']
}

df = pd.DataFrame(weather)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6  Sunny
1  2/1/2017           25          8  Foggy
2  3/1/2017           20         15  Rainy

In [12]:
weather = [
    ('1/1/2020',30,8,'Rainy'),
    ('2/1/2020',25,2,'Foggy'),
    ('3/1/2020',18,3,'Cloudy')
]

df = pd.DataFrame(weather, columns=['Day','Temperature','WindSpeed','Event'])
df

        Day  Temperature  WindSpeed   Event
0  1/1/2020           30          8   Rainy
1  2/1/2020           25          2   Foggy
2  3/1/2020           18          3  Cloudy